form input {
  color:blue;
}
div input{
  color:green
}

.spacer{
  heigth=100px;
}
h1{
  color:blue;
}

@keyframes animar{
  from{
    background-color:yellow;
  }
  to
  {
    background-color:blue;
  }
}
 input[type="submit"]{
    //animation-name:animar;
    animation-duration:10s;
    animation-iteration-count:infinite;
  }